#define STR(x) #x
#define XSTR(x) STR(x)

#define IMX678_MODES(VC_ID, OPT_CSI_SERIAL, LANE_POLARITY) \
    /* Physical dimensions of sensor */ \
    physical_w = "15.0"; \
    physical_h = "12.5"; \
    /* Defines number of frames to be dropped by driver internally after applying */ \
    /* sensor crop settings. Some sensors send corrupt frames after applying */ \
    /* crop co-ordinates */ \
    post_crop_frame_drop = "0"; \
    /* Convert Gain to unit of dB (decibel) befor passing to kernel driver */ \
    /*use_decibel_gain = "true"; */ \
    /* enable CID_SENSOR_MODE_ID for sensor modes selection */ \
    use_sensor_mode_id = "true"; \
    mode0 {/*mode imx678_MODE_1920X1280_CROP_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "rggb"; \
        active_w = "3840"; \
        active_h = "2160"; \
        readout_orientation = "0"; \
        line_length = "5280"; \
        inherent_gain = "1"; \
        pix_clk_hz = "174500000"; \
        serdes_pix_clk_hz = "288000000"; \
        mclk_multiplier = "4.27"; \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "25000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "16"; /* us */ /* 2line */ \
        max_exp_time = "39000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode1 {/*mode imx678_MODE_1920X1200_CROP_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "12"; \
        csi_pixel_bit_depth = "12"; \
        mode_type = "bayer"; \
        pixel_phase = "rggb"; \
        active_w = "1920"; \
        active_h = "1200"; \
        readout_orientation = "0"; \
        line_length = "5280"; \
        inherent_gain = "1"; \
        pix_clk_hz = "174000000"; \
        serdes_pix_clk_hz = "240000000"; \
        mclk_multiplier = "4.27"; \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "60000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "16"; /* us */ /* 2line */ \
        max_exp_time = "39000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode2 {/*mode imx678_MODE_1920X1080_BINNING_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "12"; \
        csi_pixel_bit_depth = "12"; \
        mode_type = "bayer"; \
        pixel_phase = "rggb"; \
        active_w = "1920"; \
        active_h = "1080"; \
        readout_orientation = "0"; \
        line_length = "5280"; \
        inherent_gain = "1"; \
        pix_clk_hz = "174000000"; \
        serdes_pix_clk_hz = "240000000"; \
        mclk_multiplier = "4.27"; \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "60000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "16"; /* us */ /* 2line */ \
        max_exp_time = "39000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode3 {/*mode imx678_MODE_3840X2160_DOL_HDR_7FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer_wdr_dol"; \
        pixel_phase = "rggb"; \
        /* W + LI + left_margin + right_margin = 3840+16+8+8 =  */ \
        active_w = "1936"; \
        /* (H + OB + ignored_effectivepicel + VBP)*2 = (2180+10+4+30)*2= */ \
        active_h = "2400"; \
        readout_orientation = "0"; \
        line_length = "5280"; \
        inherent_gain = "1"; \
        /*pix_clk_hz = "348000000";*/ \
        pix_clk_hz = "174000000"; \
        serdes_pix_clk_hz = "288000000"; \
        mclk_multiplier = "2.562";/* /2 */ \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "32"; \
        max_hdr_ratio = "32"; \
        framerate_factor = "1000000"; \
        min_framerate = "30000000"; /* 4 */ \
        max_framerate = "30000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "30000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "1024"; /* us */ /* 2line --> 32 * 15 */ \
        max_exp_time = "2112000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
        num_of_exposure = "2"; \
        num_of_ignored_pixels = "16"; \
        num_of_left_margin_pixels = "0"; \
        num_of_right_margin_pixels = "0"; \
        /* \
        OB = 10 \
        Ignore effective pix = 4 \
        */ \
    }; \
    mode4 {/*mode imx678_MODE_1920X1280_CROP_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "rggb"; \
        active_w = "2560"; \
        active_h = "1440"; \
        readout_orientation = "0"; \
        line_length = "6000"; \
        inherent_gain = "1"; \
        pix_clk_hz = "174500000"; \
        serdes_pix_clk_hz = "288000000"; \
        mclk_multiplier = "4.27"; \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "30000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "16"; /* us */ /* 2line */ \
        max_exp_time = "39000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode5 {/*mode imx678_MODE_1920X1280_CROP_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "rggb"; \
        active_w = "3200"; \
        active_h = "1800"; \
        readout_orientation = "0"; \
        line_length = "6000"; \
        inherent_gain = "1"; \
        pix_clk_hz = "174500000"; \
        serdes_pix_clk_hz = "288000000"; \
        mclk_multiplier = "4.27"; \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "30000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "16"; /* us */ /* 2line */ \
        max_exp_time = "39000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode6 {/*mode imx678_MODE_1920X1280_CROP_30FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        phy_mode = "DPHY"; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer_wdr_dol"; \
        pixel_phase = "rggb"; \
        /* W + LI + left_margin + right_margin = 3840+16+8+8 =  */ \
        active_w = "3216"; \
        /* (H + OB + ignored_effectivepicel + VBP)*2 = (2180+10+4+30)*2= */ \
        active_h = "3600"; \
        readout_orientation = "0"; \
        line_length = "5280"; \
        inherent_gain = "1"; \
        /*pix_clk_hz = "348000000";*/ \
        pix_clk_hz = "174000000"; \
        serdes_pix_clk_hz = "288000000"; \
        mclk_multiplier = "2.562";/* /2  */ \
        gain_factor = "10"; \
        min_gain_val = "1"; /* 0dB */ \
        max_gain_val = "300"; /* 30dB */ \
        step_gain_val = "3"; /* 0.3 */ \
        default_gain = "1"; \
        min_hdr_ratio = "32"; \
        max_hdr_ratio = "32"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; /* 4 */ \
        max_framerate = "15000000"; /* 30 */ \
        step_framerate = "1"; \
        default_framerate= "15000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "1024"; /* us */ /* 2line --> 32 * 15 */ \
        max_exp_time = "4224000"; /* us */ \
        step_exp_time = "1"; \
        default_exp_time = "30000";/* us */ \
        embedded_metadata_height = "0"; \
        num_of_exposure = "2"; \
        num_of_ignored_pixels = "16"; \
        num_of_left_margin_pixels = "0"; \
        num_of_right_margin_pixels = "0"; \
    }; \
