[Unit]
Description=ZED-X Daemon service
After=nvargus-daemon.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=syslog
ExecStart=/usr/sbin/ZEDX_Daemon
Port=20026 
PortSub=20027
VICBooster=0

[Install]
WantedBy=multi-user.target
