[Unit]
Description=ZED-X Daemon service
After=nvargus-daemon.service driver_zed_loader.service 
Requires=driver_zed_loader.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
StandardOutput=journal
ExecStart=/usr/sbin/ZEDX_Daemon

# 0 = no sync(Default), 1 = master/slave mode, 2 = slave mode only
sync_mode=0 

[Install]
WantedBy=multi-user.target
