#define STR(x) #x
#define XSTR(x) STR(x)

#define AR0234_MODES(VC_ID, OPT_CSI_SERIAL, LANE_POLARITY) \
    /* Physical dimensions of sensor */ \
    physical_w = "15.0"; \
    physical_h = "12.5"; \
    /* Defines number of frames to be dropped by driver internally after applying */ \
    /* sensor crop settings. Some sensors send corrupt frames after applying */ \
    /* crop co-ordinates */ \
    post_crop_frame_drop = "0"; \
    /* Convert Gain to unit of dB (decibel) befor passing to kernel driver */ \
    /*use_decibel_gain = "true"; */ \
    /* enable CID_SENSOR_MODE_ID for sensor modes selection */ \
    use_sensor_mode_id = "true"; \
    mode0 {/*mode ZEDX_MODE_1920X1200_60FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "grbg"; \
        active_w = "1920"; \
        active_h = "1200"; \
        readout_orientation = "0"; \
        line_length = "12496"; /* LLPCK=3276 */ \
        inherent_gain = "1"; \
        mclk_multiplier = "3.01"; \
        pix_clk_hz = "229500000"; /* 60000000 */ \
        serdes_pix_clk_hz = "299000000"; /* link_speed*lanes/bpp=500000000 */ \
        gain_factor = "100"; \
        min_gain_val = "100"; /* dB */ \
        max_gain_val = "1600"; /* dB */ \
        step_gain_val = "1"; /* 0.1 */ \
        default_gain = "100"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; \
        max_framerate = "60000000"; /* 120 require pxl clock update on the driver driver side */ \
        step_framerate = "1000000"; \
        default_framerate = "30000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "28"; /*us, 2 lines*/ \
        max_exp_time = "65000"; /* HMAX */ \
        step_exp_time = "1"; \
        default_exp_time = "13000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode1 {/*mode ZEDX_MODE_960X600_120FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "grbg"; \
        active_w = "960"; \
        active_h = "600"; \
        readout_orientation = "0"; \
        line_length = "6248"; /* LLPCK=1929 */ \
        inherent_gain = "1"; \
        mclk_multiplier = "3.01"; \
        pix_clk_hz = "229500000"; /* 60000000 */ \
        serdes_pix_clk_hz = "299000000"; /* link_speed*lanes/bpp=500000000 */ \
        gain_factor = "100"; \
        min_gain_val = "100"; /* dB */ \
        max_gain_val = "1600"; /* dB */ \
        step_gain_val = "1"; /* 0.1 */ \
        default_gain = "100"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; \
        max_framerate = "120000000"; \
        step_framerate = "1000000"; \
        default_framerate = "30000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "28"; /*us, 2 lines*/ \
        max_exp_time = "65000"; \
        step_exp_time = "1"; \
        default_exp_time = "8000";/* us */ \
        embedded_metadata_height = "0"; \
    }; \
    mode2 {/*mode ZEDX_MODE_1920X1080_CROP_60FPS*/ \
        mclk_khz = "24000"; \
        num_lanes = XSTR(NUM_LANES); \
        tegra_sinterface = OPT_CSI_SERIAL; \
        lane_polarity = LANE_POLARITY; \
        vc_id = VC_ID; \
        discontinuous_clk = "no"; \
        dpcm_enable = "false"; \
        cil_settletime = "0"; \
        dynamic_pixel_bit_depth = "10"; \
        csi_pixel_bit_depth = "10"; \
        mode_type = "bayer"; \
        pixel_phase = "grbg"; \
        active_w = "1920"; \
        active_h = "1080"; \
        readout_orientation = "0"; \
        line_length = "12496"; /* LLPCK=3633 */ \
        inherent_gain = "1"; \
        mclk_multiplier = "3.01"; \
        pix_clk_hz = "229500000"; /* 60000000 */ \
        serdes_pix_clk_hz = "299000000"; /* link_speed*lanes/bpp=500000000 */ \
        gain_factor = "100"; \
        min_gain_val = "100"; /* dB */ \
        max_gain_val = "1600"; /* dB */ \
        step_gain_val = "1"; /* 0.1 */ \
        default_gain = "100"; \
        min_hdr_ratio = "1"; \
        max_hdr_ratio = "1"; \
        framerate_factor = "1000000"; \
        min_framerate = "15000000"; \
        max_framerate = "60000000"; \
        step_framerate = "1000000"; \
        default_framerate = "30000000"; \
        exposure_factor = "1000000"; \
        min_exp_time = "28"; /*us, 2 lines*/ \
        max_exp_time = "65000"; \
        step_exp_time = "1"; \
        default_exp_time = "13000";/* us */ \
        embedded_metadata_height = "0"; \
    };
